/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

                //                     ┏━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┓     ┏━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┓
                //                0    ┃  1      │  2      │  3      │  4      │  5      ┃     ┃  6      │  7      │  8      │  9      │  10     ┃    11
                //                     ┃         │         │         │         │         ┃     ┃         │         │         │         │         ┃    
                //                     ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨    
                //               12    ┃  13     │  14     │  15     │  16     │  17     ┃     ┃  18     │  19     │  20     │  21     │  22     ┃    23
                //                     ┃         │         │         │         │         ┃     ┃         │         │         │         │         ┃    
                //                     ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨    
                //               25    ┃  26     │  27     │  28     │  29     │  30     ┃     ┃  31     │  32     │  33     │  34     │  35     ┃    36
                //                     ┃         │         │         │         │         ┃     ┃         │         │         │         │         ┃    
                //                     ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                //                                         ┃ 37      │ 38      │ 39      ┃     ┃ 40      │ 41      │ 42      ┃          
                //                                         ┃         │         │         ┃     ┃         │         │         ┃          
                //                                         ┗━━━━━━━━━┷━━━━━━━━━┷━━━━━━━━━┛     ┗━━━━━━━━━┷━━━━━━━━━┷━━━━━━━━━┛


#define DEF 0
#define LOW 1
#define HI  2
#define NUM 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <
                                        // ┏━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┓     ┏━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┓
                                        // ┃  Q      │  W      │  F      │  P      │  B      ┃     ┃  J      │  L      │  U      │  Y      │  ;      ┃
                                &kp TAB     &kp Q     &kp W     &kp F     &kp P     &kp B           &kp J     &kp L      &kp U    &kp Y     &kp SEMI   &kp BSPC
                                        // ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        // ┃  A      │  R      │  S      │  T      │  G      ┃     ┃  M      │  N      │  E      │  I      │  O      │
                                &kp LCTRL    &kp A     &kp R     &kp S     &kp T     &kp G           &kp M     &kp N      &kp E    &kp I    &kp O      &kp ESC
                                        // ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        // ┃  Z      │  X      │  C      │  D      │  V      ┃     ┃  K      │  H      │  ,      │  .      │  /      │
                                &kp OPTION    &kp Z     &kp X     &kp C     &kp D     &kp V           &kp K     &kp H     &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                        // ┠─────────┼─────────┼─────────┼─────────┼─────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        //                     │ GUI     │ LWR     │ SHFT    │     │ SPC     │ RSE     │ BSPC    │          
                                                                &kp LGUI   &mo 1     &kp LSHFT       &kp SPACE  &mo 2    &kp BSPC
                                        //                     ┗━━━━━━━━━┷━━━━━━━━━┷━━━━━━━━━┛     ┗━━━━━━━━━┷━━━━━━━━━┷━━━━━━━━━┛
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |  '  |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |

                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC        
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SQT &trans
   &kp LSHFT  &trans       &trans   &kp LALT       &kp ESC       &kp DEL         &trans   &trans   &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp LSHFT      &kp RET  &mo 3   &kp TAB
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |  `  |  ~  |  '  |     |     |   |  -  |  =  |  /  |  [  |  ]  |  \   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  .  |  {  | } |  "|"   |
//                    | GUI |     | SPC |   | ENT |     | ALT |

                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &kp GRAVE   &kp TILDE &kp SQT   &trans   &trans      &kp MINUS &kp EQUAL &kp FSLSH &kp LBKT &kp RBRKT &kp BSLSH
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp DOT &kp LBRC &kp RBRC &kp PIPE
                             &kp LGUI &trans   &kp LSHFT   &kp RET   &trans    &kp RALT
                        >;
                };

                number_layer {
                        bindings = <
                                        // ┏━━━━━━━━━━━━━┯━━━━━━━━━━━━━┯━━━━━━━━━━━━━┯━━━━━━━━━━━━━┯━━━━━━━━━━━━━┓     ┏━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┯━━━━━━━━━┓
                                        // ┃  BT1        │  BT2        │  BT3        │  BT4        │  BT5        ┃     ┃  7      │  8      │  9      │  0      │  .      ┃
                                &kp TAB     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4        &kp N7     &kp N8    &kp N9    &kp N0    &kp DOT   &kp BSPC
                                        // ┠─────────────┼─────────────┼─────────────┼─────────────┼─────────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        // ┃  BTCLR      │  S          │  D          │  F          │  G          ┃     ┃  4      │  5      │  6      │  -      │  /      │
                                &kp LCTRL    &bt BT_CLR    &kp S        &kp D         &kp F         &kp G               &kp N4    &kp N5    &kp N6    &kp MINUS &kp FSLH  &kp SQT
                                        // ┠─────────────┼─────────────┼─────────────┼─────────────┼─────────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        // ┃  Z          │  X          │  C          │  V          │  B          ┃     ┃  1      │  2      │  3      │  +      │  *      │
                                &kp LSHFT    &kp Z         &kp X         &kp C         &kp V         &kp B               &kp N1     &kp N2    &kp N3   &kp PLUS  &kp KP_MULTIPLY  &kp ESC
                                        // ┠─────────────┼─────────────┼─────────────┼─────────────┼─────────────┨     ┠─────────┼─────────┼─────────┼─────────┼─────────┨
                                        //                             │ GUI         │ LWR         │ SHFT        │     │ ENT     │ RSE     │ BSPC    │          
                                                                        &kp LGUI       &mo 1         &kp LSHFT           &kp RET  &mo 2      &kp BSPC
                                        //                             ┗━━━━━━━━━━━━━┷━━━━━━━━━━━━━┷━━━━━━━━━━━━━┛     ┗━━━━━━━━━┷━━━━━━━━━┷━━━━━━━━━┛
                        >;
                };
        };
};
